.process {
  position: relative;
}

.process-step-control {
  position: absolute;
  top: 0;
  height: 100%;
  width: 10%;
  line-height: 270px;
  font-size: 32px;
  cursor: pointer;

  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.process-step-control i:before {
  color: #666;
  transition: color 0.3s ease-in-out;
}
.process-step-control:hover i:before {
  color: #fff;
}

.process-step-control.prev-step {
  left: 0;
  text-align: left;
}

.process-step-control.next-step {
  right: 0;
  text-align: right;
}

/*****************************************************************************/
.process-panels {
  position: relative;
  width: 80%;
  height: 270px;
  margin: 0 auto;
}

.process-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.process-panel.selected {
  opacity: 1;
}

.process-panel p {
  text-align: center;
}

.process-panel .fa {
  margin: 10px auto 30px;
  font-size: 40px;
}

/*****************************************************************************/
.process-navigation {
  text-align: center;
  height: 25px;
}
.process-step {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: 15px;
  background: #fff;
  -webkit-transition: all 0.3s ease-in-out;
}
.process-step.selected {
  -webkit-transform: scale(2, 2);
}
